nav
{
    background-color: #f42069;    
}

a
{
    color: #b4da55;
}

a:hover 
{
    color: #729220;
}

body
{
    background-image: url("https://raw.githubusercontent.com/xSpacklesx/csi120-project1/master/images/woodBG.jpg");
}

.container
{
    background-color: #b4da55;
    height: 100%;
}

h1
{
    color: #b32400;
    padding-left: 50px;
    padding-top: 37px;
}
.cottage1
{
    height: 100%;
    width: 100%;
}

.shack1
{
    text-indent: 50px;
}

.shack2
{
    text-indent: 100px;
}

p
{
    font-size: 24px;
    color: #b32400;
}