nav
{
    background-color: #f42069;    
}

a
{
    color: #b4da55;
}

a:hover 
{
    color: #729220;
}

body
{
    background-image: url("https://raw.githubusercontent.com/xSpacklesx/csi120-project1/master/images/woodBG.jpg");
}

.container
{
    background-color: #b4da55;
}

h1
{
    color: #b32400;
}
.cottage1
{
    height: 50%;
    width: 50%;
}

.shack1
{
    text-indent: 50px;
}

.shack2
{
    text-indent: 100px;
}